
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


body {background-color:#233554;
    
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    
    }
    a {
        text-decoration: none;
        color: currentColor;
      }
      a:hover{ color: #64ffda;

      }

.inline-block {
    display: inline-block;
    vertical-align:center;
}
div.logo {
width: 23%;
padding: 1%;

}
.nav > nav{
    display: flex;
    justify-content:center;
    
   
    
    width: 73%;
    padding: 10px;
    background-color:  #233554;
   

}
ul{
    display: flex;
    justify-content:space-evenly;
    width: 70%;
    margin-left: auto;

}

.logo{
    text-align: center;
}
section{
    margin-left: 0px;padding: 50px;}


.intro{
    font-family: 'Source Sans Pro', sans-serif;
    color: #a8b2d1;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10%;
}
#intro{
    margin-top: 150px;
    margin-bottom: 250px;
}
hr{
    display: inline-block;
    color: #CCD6F6;
    height: 3px;
    width:20%;text-align:center;
    border-width: 1px;
    opacity: 85%;
    /* margin-top: 10rem; */
    margin-bottom: 0.1rem;
}


.content{
    width: 800px;
    margin: 0 auto;
    box-shadow: 5px 10px #233554;
    margin-top: 50px;
}
 #main{ 
    margin-top: 300px;
}
.aboutMe{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #CCD6F6;
    letter-spacing: 4px;
    line-height: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn{
    background-color:#112240;
    border: 2px solid ;
    border-color: #64FFDA;
    color: #64ffda;
    /* padding: 15px 32px; */
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sarpanch;
   border-radius: 4px;
   width: 128px;
   height: 40px;
  }
  .btn:hover{background-color:rgba(100, 255, 218, 25%);
   
   border: none;
    /* color: #64ffda; */
   /* display: inline-block; */
   
    cursor: pointer;
  

  }

.digits{
    color:  #64FFDA;
    font-size: 14px;
    font-family: sarpanch;
    margin-left: 0 auto;
  

}
section{
    margin-left: 200px;
    margin-bottom: 100px;
}
.section{
    color: #A8B2D1;
    font-family: sarpanch;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 10px;
    /* margin: auto; */
}
nav>ul>li {
    display: flex;
    
    color: #A8B2D1;
    font-family: sarpanch;
    font-size: 14px;
   
}


p{

    color: #CCD6F6;
    letter-spacing: 4px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;   

}


.skills{
    color: #CCD6F6;
    letter-spacing: 10px;
    line-height: 25px;
    /* display: flex;
    flex-direction: row;
    text-align: center; */
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;   
    justify-content:stretch;
    align-items:center;

   
}

.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 18;
    text-align: left;
    padding: 40px;
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.flexChild{
    /* margin: 10px; */
    padding: 0px;
}


.workGrid{
    display: grid;
    grid-template-areas:
        'project1 project2';
    color:#A8B2D1;
    grid-gap: 3px;
    text-align: center;
    margin-top: 50px;
    justify-content: space-evenly;
}
.project1{
    background-color:#112240;
    width: 452px;
    height: 654px;
    padding-top: 20px;
}
.project2{
    background-color:#112240;
    width: 452px;
    height: 654px;
    padding-top: 20px;

    
}
.contact{
    padding: 50px;
}
.form-control{
    width:500px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
   
}




#formMessegeInput{
    height: 400px;
   
vertical-align:bottom;

}




footer{
    background-color: #373738 ;

}

li{
    padding: 1%;
   
}
ul{
    padding: 1%;
}
    footer>ul{
    display: inline-block;
    vertical-align: top;
    color: #f0f8ff;
    


}
footer>ul>li{
    padding: 1%;

    
}
#goHome{
   position:fixed;
    bottom: 0;
    right: 0;
    margin-right: 12px;
    margin-bottom: 30px;
   background-color: transparent ;
   border: 0px;
   font-size:48px;
   color:#CCD6F6; 
    opacity:.7;
    
}
#goHome:hover{
    animation: rotate-button 0.5s;
    color:rgba(100, 255, 218, 100%);
    


}
#mailto {
    
    color: #CCD6F6;
   
  
    position:fixed;
    bottom: 400px;
    right: 0px;
    transform: rotate(90deg);
margin-right: -35px;
padding-right: 0px;
text-decoration: none;

    
    
} 
#mailto:hover{
    color:rgba(100, 255, 218, 100%);

} 
#rightline { 
    
    position:fixed;
    bottom: 200px;
    right: 0px;
    transform: rotate(90deg);
margin-right: -59px;
padding-right: 0px;
width : 200px

}
.social{
    position: fixed;
    bottom: 350px;
    left: 0px;
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    padding-left: 30px;
    




}
 .social button{background-color: transparent;
    border: 0;
    color: #CCD6F6;
    margin-top: 50px;
    transform: rotate(0deg);
    transition: transform .5s;
}
#leftline { 
    
    position:fixed;
    bottom: 220px;
    left: 0px;
    transform: rotate(90deg);
margin-left: -42px;
padding-left: 0px;
width : 200px

}
.fa-github:hover {color:rgba(100, 255, 218, 100%);
    animation: rotate-button 0.5s;
}
.fa-linkedin-square:hover {color:rgba(100, 255, 218, 100%);
    animation: rotate-button 0.5s;
   

}
@keyframes rotate-button {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


/* @media  only screen and(max-width : 600px) {
    .flexContainer {
        flex-direction: column;
        max-width: "600 px";
        
        
    }   
    .flexChild{ 
        max-width: 600px;


    }
    .skills{
        flex-direction: column;
        max-width:"600 px";
    }
    .nav{
        display: none;
    } */






    @media only screen and (max-width : 600px) {
         .flexContainer {   
          flex-direction: column;
         }
          .nav>nav{
            display: none;
        }
        .workGrid{ grid-template-areas: '1fr''1fr';
            grid-template-columns:1fr;
            margin: 20px;
            padding: 10px;
            grid-gap: 10px;
            
            
        
        }
        }

    
